.searchRes{
  width: 100%;
  height: 575px;
}

.prodCode{
  font:small-caption
}

.expDate{
  margin-left: 3%;
  margin-bottom: .4rem;
}
.commentHeader{
  margin-left: 3%;
}

.comments{
  margin-left: 3%;
}

.redClass{
  color: #cc0000;
}

.btn-name{
  display:flex;
  margin-bottom: .4rem;
}